<%- include("./partials/header") %> 

<h1 class="container">Look how people are utilising their free time</h1>

<% for(let post of posts){ %>
    <div class="container item">
        <h2><%= post.title %> </h2>
        <h4 class="data"><%= post.author %></h4>
        <h4 class="data"><%= post.created.toDateString() %></h4>
        <div class="content">
            <%= post.content %> 
        </div>
    </div>
<% } %> 

<script src="/find.js"></script>
<%- include("./partials/footer") %>